
@{
    ViewBag.Title = "Listado de Servicios";
}

<h2>@ViewBag.Title</h2>


<button class="btn btn-success">Saludos</button>

<button class="btn btn-info">Saludos</button>

<button class="btn btn-danger">Saludos</button>

